* {
    margin: 0px;
    padding: 0px;
}

.form-block {
    width: 100%;
    height: 100%;
    min-height: 500px;
    padding-top: 10px;
    font-size: 18px;
    overflow: auto;
    text-align: center;
    font-family: sans-serif;
    background-color: #00a552;
    color: #3a3a3a;
}

.head-title {
    color: #f5f5f5;
}

.form-register {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 25px 5px;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 25px 50px 50px #0000003d, 0 30px 30px #04642f56;
    background-color: #b6e6be;
    color: #494949;
    border-radius: 10%;
}

.form-input {
    margin-bottom: 20px;
    position: relative;
}

.form-input_name {
    display: inline-block;
    width: 300px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 25px;
    background-color: #f8fff8;
}

label {
    display: block;
    text-align: center;
}

.checkbox_label {
    font-style: italic;
    font-size: 15px;
    color: #017a2a;
}
.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input.ng-touched.ng-invalid {
    border: 3px solid #e95b5ba1;
}

input.ng-touched.ng-valid {
    border: 3px solid #046694c5;
}

.error-massege {
    font-style: italic;
    font-size: 15px;
    color: #e95b5b;
}

.button-register {
    width: 120px;
    line-height: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fdfff2;
    background-color: #00a552;
    border-radius: 15%;
}
button[disabled] {
    background: #00a55236;
    color: #003018;
}

.notflag-massege {
    display: block;
    margin: 0 auto;
    font-size: 15px;
    color: #ff0000;
}

.flag-image {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}