<div class="form-wrapper">
    <h1 class="title">Registration Form</h1>
    <p> All fields are required. </p>
    <form [formGroup]="userForm" class="userForm" novalidate 
            (ngSubmit)="submit()" ng-class="{submitted:myForm.submitted}">
        <div class="form-group" >
            <label>Name:</label>
            <input class="form-control" name="name" formControlName="name" />
            <div class="alert alert-danger"
                *ngIf="displayErrorFor('name')">
                 no name specified
            </div>
        </div>
        <div class="form-group" >
            <label>Surname:</label>
            <input class="form-control" name="surname" formControlName="surname" />
            <div class="alert alert-danger"
                *ngIf="displayErrorFor('surname')">
                no surname specified
            </div>
        </div>
        <div class="form-group country-block ">
            <label>Country:</label>
            <div *ngIf="isShowImage" class="country-image"  [ngStyle]="{'background-image': 'url(' + '/assets/flags-images/' + country.src + ')'}"></div>
            <input class="form-control" #countryName name="country" formControlName="country"
                   (blur)="onBlurCountryInput(countryName.value, $event)" [ngClass]="{redBorder: isInvalidField }"/>
            <div *ngIf="isShowText" class="country-text"> country does not match</div>
            <div class="alert alert-danger"
                *ngIf="displayErrorFor('country')">
                no country specified
            </div>     
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" name="email" formControlName="email" />
            <div class="alert alert-danger"
                *ngIf="displayErrorFor('email')">
                 Invalid e-mail
            </div>
        </div>
            <div class="form-group" >
                <label>Phone:</label>
                <input class="form-control" formControlName="phone" />
                <div class="alert alert-danger"
                    *ngIf="displayErrorFor('phone')">
                    Invalid phone number
                </div>
            </div>
        <div class="form-group" >
                <label>Password:</label>
                <input class="form-control" type="password" s formControlName="password" />
                <div class="alert alert-danger"
                    *ngIf="displayErrorFor('password')">
                    Password should be min 6 characters length
            </div>
        </div>
            <div class="form-group" >
                <label>Retype password:</label>
                <input class="form-control" type="password" formControlName="confirmPassword" />
                <div class="alert alert-danger"
                    *ngIf="displayErrorFor('confirmPassword')">
                    Passwords do not match
            </div>
        </div>
            <div class="form-group checkbox" >
                <label class="checkbox-label">I read the rules</label>
                <div *ngIf="userForm.hasError('required', 'checkbox_agree')" class="checkbox-text">
                    *Required
                </div>
                <input type="checkbox" formControlName="checkbox_agree">
            </div>
        <div class="form-group">
            <button class="btn btn-sign" [disabled]="userForm.invalid">
                Sign in
            </button>
        </div>
    </form>
</div>

