$grey-primary: rgb(56, 55, 55);
$grey-secondary: rgb(226, 224, 224);
$font-size-primary: 14px;
$text-color-header: #e7e67d;
$text-color-white: white;
$font-family-primary: 'Helvetica Neue', sans-serif;



%list {
    list-style: none;
}

%display-space-around {
    display: flex;
    justify-content: space-around;
}

%icon-style {
    display: block;
    border-radius: 50%;
}
%input-style {
    display: block;
    height: 55px;
}

.wrapper {
    display: flex;
    height: 600px;
}

.aside {
    background-color: $grey-primary;
    max-width: 250px;
    width: 100%;
    min-height: 600px;
}
.aside-header {
    min-height: 47px;
    text-align: center;
    padding-top: 30px;
    color: $text-color-header;
    font-size: 12px;   
}

.aside-title {
    margin: 0 auto;
}

.chats-list {
   @extend %list;
   margin: 0;
   padding:  0 20px;
  
}
 .list-item { 
    @extend %display-space-around;
    align-items: center;
    margin-bottom: 23px;
    background-color: $text-color-white;
}

.list-item-icon {
    @extend %icon-style;
    width: 30px;
    height: 30px;
    background-color: rgb(45, 181, 245);
}

.list-item-title {
   width: 70%;
}
.chat-content-header {
    @extend %display-space-around;
    padding-top: 10px;
    background-color: $grey-primary;
    color: $text-color-header;
}
.chat-content {
    max-width: 550px;
    width: 100%;
    min-height: 500px;
    background-color: $grey-secondary;
    font-family: $font-family-primary;
    font-style: italic;
}
.content-title {
    width: 400px;
}

.content-header-icon {
    @extend %icon-style;
    width: 60px;
    height: 60px;
    background-color: rgb(248, 227, 227);
}

.messages-list {
    @extend %list;
    padding: 5px;
}

.message-item {
    max-width: 300px;
    width: 100%;
    background-color: $text-color-white;
    border-radius: 0 15px 15px 15px; 

        &:nth-child(2n) {
        border-radius: 15px 0 15px 15px;
        margin-left: 200px;
        }

        &:not(:last-child) {
            margin-bottom: 23px;
         }
}

.form {
    display: flex;
    justify-content: space-between;
}
input[type="text"] {
   @extend %input-style;
   width: 480px;
   border: none;
   font-style: italic;
}

input[type="submit"] {
    @extend %input-style;
    width: 55px;
 }

 .message-text {
    width: 280px;
    margin: 0 auto;
 }
 
 .message-data {
    margin: 0;
    padding: 7px;
 
        &:nth-child(2n) {
            text-align: right;
        }
}