$grey-primary: rgb(56, 55, 55);
$grey-secondary: rgb(226, 224, 224);
$font-size-primary: 14px;
$text-color-header: rgb(231, 230, 125);
$text-color-white: rgb(255, 255, 255);
$bg-color-blue: rgb(45, 181, 245);
$bg-color-biege: rgb(248, 227, 227);
$bg-color-orange:  rgb(254, 209, 54);
$bg-color-pink:  rgb(254, 54, 164);
$font-family-primary: 'Helvetica Neue', sans-serif;

%display-space-around {
    display: flex;
    justify-content: space-around;
}

%display-space-between {
    display: flex;
    justify-content: space-between;
}
%icon-style {
    display: block;
    border-radius: 50%;
}

%button-style {
    padding: 0;
    border: none;
}

.wrapper {
    display: flex;
    width: 800px;
    max-height: 600px;
}

.aside {
    background-color: $grey-primary;
    width: 250px;
}

.aside__header {
    height: 60px;
    text-align: center;
    padding-top: 40px;
    color: $text-color-header;
    font-size: 14px;   //
}

.aside__title {
    margin: 0 auto;
}

.list-wrapper {
    height: 520px;
    overflow: scroll;
}

.chats-list {
   margin: 0;
   padding:  0 20px;
   list-style: none;
}

 .chats-list__item { 
    @extend %display-space-around;
    height: 55px;
    align-items: center;
    margin-bottom: 50px;
    background-color: $text-color-white;
}

.chats-list__item-icon {
    @extend %icon-style;
    width: 50px;
    height: 50px;
    background-color: $bg-color-blue;
}

.chats-list__item-title {
   width: 70%;
}

.chat__header {
    @extend %display-space-around;
    padding:   25px 0;
    background-color: $grey-primary;
    color: $text-color-header;
}

.chat {
    @extend %display-space-between;
    flex-direction: column;
    width: 550px;
    min-height: 545px;
    height: 100%;
    background-color: $grey-secondary;
    font-family: $font-family-primary;
    font-style: italic;
}

.chat-content {
    @extend %display-space-between;
    flex-direction: column;
    
}
.content-title {
    width: 400px;
}

.chat__header-icon {
    @extend %icon-style;
    width: 60px;
    height: 60px;
    background-color: $bg-color-biege;
}

.chat-content-list {
    margin: 0;
    max-height: 415px;
    overflow: scroll;
    padding: 5px;
    list-style: none;
}

.chat-content-list__item {
    width: 265px;
    background-color: $text-color-white;
    border-radius: 0 15px 15px ; 

        &:nth-child(2n) {
            border-radius: 15px 0 15px 15px;
            margin-left: 50%;
        }

        &:not(:last-child) {
            margin-bottom: 23px;
         }
}

.chat-content-list__item-text {
    width: 280px;
    margin: 0 auto;
 }
 
 .chat-content-list__item-data {
    margin: 0;
    padding: 8px;
    width: 80%;
 
        &:nth-child(2n) {
            text-align: right;
        }
}

.form {
    @extend %display-space-between;
    height: 55px;
}

.form__input {
   @extend %button-style;
   width: 79%;
   font-style: italic;
}

.form__button {
    @extend %button-style;
    width: 25%;
    background-color: $grey-primary;
    color: $text-color-white;
    font-weight: bold;
    text-transform: uppercase;
 }
 
 @media (min-width: 1024px) {
    .wrapper {
        width: 1024px;
        min-height: 768px;
    }

    .aside {
        width: 300px;
    }

    .aside__header {
        height: 98px;
        text-align: center;
        padding-top: 30px;
        color: $text-color-header;
        font-size: 14px;   
    }

    .list-wrapper {
        height: 644px;
        
    }
    .chat {
        width: 724px;
        font-size: 17px;
        min-height: 768px;
    }

    .chat__header-icon {
        width: 80px;
        height: 80px;  
    }
    
    .chat-content-list {
        padding: 5px;   
        max-height: 644px;
    }

    .chat-content-list__item {
        width: 420px;

        &:before {
            content: "";
            display: block;
            float: left;
            width: 40px;
            height: 40px;
            background-color: $bg-color-orange;
            border-radius: 50%;
        }

        &:nth-child(2n) {
            border-radius: 15px 0 15px 15px;
            margin-left: 270px;
        
            &:before {
                width: 40px;
                height: 40px;
                background-color: $bg-color-pink;
                float: right;
            }
        }
    
        &:not(:last-child) {
            margin-bottom: 22px;
        }     
    }

    .form {
        min-height: 65px;
        font-size: 16px;
    }
    .form__input, .form__button {
        font-size: 16px;
    }
}

@media (min-width: 1280px) {
    .wrapper {
        max-width: 1280px;
        width: 100%;
        min-height: 800px;
    }

    .aside {
        max-width: 400px;
        width: 100%;
        min-height: 100%;
    }

    .aside__header {
        min-height: 150px;
        text-align: center;
        padding-top: 50px;
        color: $text-color-header;
        font-size: 18px;   
    }

    .list-wrapper {
        max-height: 600px;
        
    }
    .chats-list__item { 
        height: 70px;
        margin-bottom: 50px;
        font-size: 22px;
    }

    .chats-list__item-icon {
        width: 65px;
        height: 65px;
    }

    .chat {
        max-width: 880px;
        width: 100%;
        min-height: 800px;
        font-size: 20px;
    }

    .chat-content {
        height: 560px;
    }

    .chat__header {
        padding:  50px 0 50px 0;
    }

    .chat__header-icon {
        width: 100px;
        height: 100px;
    }

    .chat-content-list {
        max-height: 478px;
        overflow: scroll;
        padding: 0 5px;
        margin: 0;
    }

    .chat-content-list__item {
        width: 450px; 
        min-height: 65px;
       
        &:before {
            width: 60px;
            height: 60px;
          
        }

        &:nth-child(2n) {
            margin-left: 400px;
            padding-left: 10px;

            &:before {
                width: 60px;
                height: 60px;
            }
        }
    
        &:not(:last-child) {
            margin-bottom: 20px;
        }     
    }

    .form {
        margin-top: 5px;
        min-height: 82px;
    }

    .form__input, .form__button {
        font-size: 18px;
    }
}

@media (min-width: 1680px) {
    .wrapper {
        max-width: 1680px;
        width: 100%;
        max-height: 1050px;
        height: 100%;
    }

    .aside {
        max-width: 560px;
        width: 100%;
    }

    .aside__header {
        min-height: 150px;
        padding-top: 100px;
        text-align: center;
        color: $text-color-header;
        font-size: 26px;   
    }

    .list-wrapper {
        min-height: 800px;
        overflow: scroll;
    }

    .chats-list {
        margin: 0;
        padding:  10px 10px;
     }

    .chats-list__item { 
        height: 85px;
        margin-bottom: 75px;
        font-size: 28px;
    }

    .chats-list__item-icon {
        width: 65px;
        height: 65px;
    }

    .chat {
        max-width:1120px;
        width: 100%;
        min-height: 1050px;
        font-size: 26px;
    }

    .chat-content {
        min-height: 815px;
        height: 100%;
    }

    .chat__header {
        padding:  65px 0;
    }

    .chat__header-icon {
        width: 110px;
        height: 110px;
    }

    .chat-content-list {
        max-height: 690px;
        padding: 10px;
        margin: 0; 
        overflow: scroll;
    }

    .chat-content-list__item {
        max-width: 480px; 
        width: 100%;
        padding-top: 10px;
       
        &:before {
            width: 60px;
            height: 60px;
           
        }

        &:nth-child(2n) {
            margin-left: 600px;
            padding-left: 10px;

            &:before {
                width: 60px;
                height: 60px;
            }
        }
    
        &:not(:last-child) {
            margin-bottom: 15px;
        }     
    }

    .form {
        margin-top: 5px;
        min-height: 120px;
    }

    .form__input, .form__button {
        font-size: 28px;
    }
}
