$grey-primary: rgb(56, 55, 55);
$grey-secondary: rgb(226, 224, 224);
$font-size-primary: 14px;
$text-color-header: #e7e67d;
$text-color-white: white;
$font-family-primary: 'Helvetica Neue', sans-serif;


%list {
    list-style: none;
}

%display-space-around {
    display: flex;
    justify-content: space-around;
}

%icon-style {
    display: block;
    border-radius: 50%;
}

%input-style {
    display: block;
    padding: 0;
    border: none;
    height: 100%;
}

.wrapper {
    display: flex;
    max-width: 800px;
    width: 100%;
    max-height: 600px;
}

.aside {
    background-color: $grey-primary;
    max-width: 250px;
    width: 100%;
    min-height: 100%;
}

.aside-header {
    min-height: 60px;
    text-align: center;
    padding-top: 40px;
    color: $text-color-header;
    font-size: 12px;   
}

.aside-title {
    margin: 0 auto;
}
.list-wrapper {
    max-height: 520px;
    overflow: scroll;
}
.chats-list {
   @extend %list;
   margin: 0;
   padding:  0 20px;
   overflow: auto;
}
 .list-item { 
    @extend %display-space-around;
    height: 55px;
    align-items: center;
    margin-bottom: 50px;
    background-color: $text-color-white;
}

.list-item-icon {
    @extend %icon-style;
    width: 50px;
    height: 50px;
    background-color: rgb(45, 181, 245);
}

.list-item-title {
   width: 70%;
}
.chat-content-header {
    @extend %display-space-around;
    padding:   25px 0 25px 0;
    background-color: $grey-primary;
    color: $text-color-header;
}
.chat-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 550px;
    width: 100%;
    padding-bottom: 5px;
    min-height: 500px;
    background-color: $grey-secondary;
    font-family: $font-family-primary;
    font-style: italic;
}
.chat-messages {
    max-height: 430px;
    overflow: scroll;
}
.content-title {
    width: 400px;
}

.content-header-icon {
    @extend %icon-style;
    width: 60px;
    height: 60px;
    background-color: rgb(248, 227, 227);
}

.messages-list {
    @extend %list;
    padding: 5px;
}

.message-item {
    max-width: 265px;
    width: 100%;
    background-color: $text-color-white;
    border-radius: 0 15px 15px 15px; 

        &:nth-child(2n) {
        border-radius: 15px 0 15px 15px;
        margin-left: 200px;
        }

        &:not(:last-child) {
            margin-bottom: 23px;
         }
}

.message-text {
    width: 280px;
    margin: 0 auto;
 }
 
 .message-data {
    margin: 0;
    padding: 7px;
 
        &:nth-child(2n) {
            text-align: right;
        }
}

.form {
    display: flex;
    justify-content: space-between;
    height: 55px;
}
input[type="text"] {
   @extend %input-style;
   width: 79%;
   font-style: italic;
}

input[type="submit"] {
    @extend %input-style;
    width: 25%;
    background-color: $grey-primary;
    color: $text-color-white;
    font-weight: bold;
    text-transform: uppercase;

 }

 
 @media (min-width: 1024px) {
    .wrapper {
        max-width: 1024px;
        width: 100%;
        min-height: 768px;
    }

    .aside {
        background-color: $grey-primary;
        max-width: 300px;
        width: 100%;
        min-height: 100%;
    }

    .aside-header {
        min-height: 97px;
        text-align: center;
        padding-top: 30px;
        color: $text-color-header;
        font-size: 14px;   
    }

    .list-wrapper {
        max-height: 644px;
        
    }
    .chat-content {
        max-width: 724px;
        width: 100%;
        font-size: 17px;
    }

    .content-header-icon {
        width: 80px;
        height: 80px;
        
    }
    .chat-messages {
        max-height: 644px;
       
    }
    .messages-list {
        padding: 5px;
    }

    .message-item {
        max-width: 420px;
        width: 100%;

        &:before {
            content: "";
            display: block;
            float: left;
            width: 40px;
            height: 40px;
            background-color: #fed136;
            border-radius: 50%;
        }

        &:nth-child(2n) {
            border-radius: 15px 0 15px 15px;
            margin-left: 270px;
           

            &:before {
                width: 40px;
                height: 40px;
                background-color: #fe36a4;
                float: right;
            }
        }
    
            &:not(:last-child) {
                margin-bottom: 23px;
            }     
    }

    .form {
        min-height: 65px;
    }
    input[type="text"], input[type="submit"] {
        font-size: 16px;
    }
}