$grey-primary: rgb(56, 55, 55);
$grey-secondary: rgb(226, 224, 224);
$font-size-primary: 14px;
$text-color-header: rgb(231, 230, 125);
$text-color-white: rgb(255, 255, 255);
$bg-color-blue: rgb(45, 181, 245);
$bg-color-biege: rgb(248, 227, 227);
$bg-color-orange:  rgb(254, 209, 54);
$bg-color-pink:  rgb(254, 54, 164);
$font-family-primary: 'Helvetica Neue', sans-serif;
