* {
	margin: 0;
    padding: 0;
    list-style: none;
}
.wrapper-chats {
    display: flex;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* max-width: 100%;
    max-height: 100%; */
}
.side-chats {
    width: 100%;
    max-width: 30%;
    min-height: 100%;
    background-color: #00065e;
}
.side-chats_header {
    min-height: 50px;
    margin: 0 auto;
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
    color: #f6fa04;
}
.side-chats_list {
    margin-top: 50px;
    max-height: 80%;
    overflow: scroll;
}
.side-chats_list ul {
    padding: 0 30px;
}
.side-chats_item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    height: 80px;
    align-items: center;
    background-color: #51c4fa;
}
.side-chats_image {
    width: 75px;
    height: 75px;
    list-style-type: disc;
    border-radius: 70%;
    background-color: #fdff6e;
}
.side-item_title {
    width: 80%;
    font-size: 30px;
    color: #010242;
}
.currently-chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 70%;
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique; 
    background-color: #f6fa04;
}
.currently-chat_header {
    display: flex;
    justify-content: space-around;
    min-height: 80px;
    font-size: 30px;
    padding: 50px 50px;
    text-align: center;
    background-color: #51c4fa;
    color: #010242;
}
.currently-chat_window {
    max-height: 60%;
    overflow: scroll;
}
.window-correspondence_list {
    padding: 10px;
    margin: 0;
}
.correspondence-list_item {
    max-width: 50%;
    width: 100%;
    border-radius: 0 30px 30px 10px;
    background-color: #8f8c00;
    color: #e5faff;
} .correspondence-list_item:nth-child(2n) {
    border-radius: 0 30px 30px 10px;
    margin-left: 50%;
} .correspondence-list_item:before {
    content: "";
    display: block;
    float: left;
    width: 70px;
    height: 70px;
    background-color: #51e6fa;
    border-radius: 50%;
} .correspondence-list_item:nth-child(2n):before {
    width: 70px;
    height: 70px;
    background-color: #fbff00;
    float: right; 
}
.correspondence-text {
    width: 100%;
    margin: 0 auto;
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
}
.correspondence-data {
    margin: 0;
    padding: 10px;
}
.send-messege {
    display: flex;
    justify-content: space-between;
    min-height: 15%;
    margin-top: 10px;
}
input[type="text"], input[type="submit"] {
    display: block;
    padding: 0;
    border: none;
    height: 100%; 
}
input[type="text"] {
    width: 80%;
    font-style: italic;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}
input[type="submit"] {
    width: 20%;
    background-color: #010242;
    color: #e5faff;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}
@media (min-width: 1920px) {

    .wrapper-chats {
        max-width: 1920px;
        width: 100%;
        min-height: 980px;
    }

}

